<%- include('../partials/header') %>

<div>
  <h1><%= pageTitle %></h1>
  <a type="submit" class="btn btn-primary" href="/create-requirement">Create Requirement</a>
</div>

<%- include('../partials/footer')%>
